{% extends "base.html" %}
{% load static %}
{% block title %}
RailConnect | About US
{% endblock  %}
{% block content %}
<style>
    .navi2 {
      box-shadow: 0px 0px 1px 0px black;
    }
  </style>
<div class="row" style="background-color: whitesmoke;height: 50px;"></div>
  <div class="row  px-5" style="background-color: whitesmoke;  height: 100%;">
    <div class="col-12 px-4" style="background-color: white;">
      <h5 style="font-size: 30px;margin-bottom: 25px;margin-top: 10px;"><b>ABOUT US</b></h5>
      <h4 style="margin-top: 20px;font-size: 15px;">An Encompassing Insightful Experience- Give Power to Your Train
        Travel Decision-Making</h4>
      <h5 style="color: grey;font-size: 15px;">Travel is fun and when it comes to train travel, we go into the bypaths
        and un-trodden depths of wilderness and travel explorations to tell the world the glories of our journey!</h5>
      <h4 style="margin-top: 20px;font-size: 15px;">What makes us drive through?</h4>
      <h4 style="margin-top: 20px;font-size: 15px;">Our Motto: Simplifying Train Travels</h4>
      <h5 style="color: grey;font-size: 15px;">With over 23.9 million passengers traveling and commuting daily by train,
        RailConnect aims to serve its passengers with inclusive and comprehensive information that helps those making
        informed decisions, thus simplifying their train travels.RailConnect.in is a premier portal for Indian Railways
        train travellers. We strive to be the fastest, mobile-friendly site that answers all your train travel questions
        in a few taps. A comprehensive hub of train travel information that dedicatedly works to give its users
        insightful information, all under one roof, to help them plan and take their train travel decisions in a better
        way..</h5>
      <h4 style="margin-top: 20px;font-size: 15px;">How and Why We Started?</h4>
      <h5 style="color: grey;font-size: 15px;">The journey of RailConnect started two years back when a handful of
        technology experts got together to remove the information black-box that shrouds information regarding Indian
        Railways. Indian Railways is the preferred transportation mode for a vast majority of Indian population, yet
        pertinent information is not readily available and the information rather available is scattered. It is then,
        RailConnect stepped in to tackle such worries of its railway passengers. It has always aimed to be the capable
        train travel advisor helping passengers make informed decisions about their train travel.</h5>
      <h5 style="color: grey;font-size: 15px;">We, at RailConnect do not just stop at presenting the dry numbers, but
        provide insights behind them. We offer analytical based information that makes us standout alone of the other
        sources of information. This is why our users’ base has been growing with every passing day.</h5>
      <h4 style="margin-top: 20px;font-size: 15px;">Appreciation as a Travelers’ Delight</h4>
      <h5 style="color: grey;font-size: 15px;">RailConnect has been awarded and recognized as one of the best travel and
        tourism apps of 2014. RailConnect has won the mBillionth South Asia Award and has also bagged the Best Utility
        Award in the Vodafone Appstar contest. In addition to this, RailConnect has been continuously receiving vigorous
        critical appreciation throughout in various print and online media publishing.</h5>
      <h4 style="margin-top: 20px;font-size: 15px;">A step ahead convenience: Intelligence based Information</h4>
      <h5 style="color: grey;font-size: 15px;">RailConnect aims to work in accordance with the needs of its train
        travelers. It always updates features that simplify the train journeys of the passengers.Yes, there are many
        other train travel related apps and websites, but do they help in making your travel easy? Here is a quick
        go-through of what information do we serve our passengers that make us stand out of the crowd:</h5>
      <h5 style="color: grey;font-size: 15px;">PNR status information with Confirmation Probability.</h5>
      <h5 style="color: grey;font-size: 15px;">Live Train Status, but with real time GPS Location mechanism that makes
        the experience fun and fascinating.</h5>
      <h5 style="color: grey;font-size: 15px;">Time table of trains with Offline time table feature, so that one may
        check it without Internet connectivity.</h5>
      <h5 style="color: grey;font-size: 15px;">You can avoid the delayed trains by studying the running time statistics
        of the trains between two stations.</h5>
      <h5 style="color: grey;font-size: 15px;">If you are a daily commuter through local trains and metros, find all the
        information in the RailConnect.</h5>
      <h5 style="color: grey;font-size: 15px;">Fantasy and fun: Get to know the real time speed of your train and
        various trivia’s about Indian Railways and the stations.</h5>
      <h5 style="color: grey;font-size: 15px;">Live Trip Sharing.</h5>
      <h4 style="margin-top: 20px;font-size: 15px;">RailConnect is a one stop solution that furnishes an expanse of
        data-based travel discovery at your disposal. So get connected for an inclusive Rail journey information
        experience!</h4>
    </div>
  </div>
{% endblock  %}