{% extends 'base.html' %}
{% load static %}
{% block title %}
Successfully Registered..
    {% endblock  %}
{% block content %}
<style>
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: black;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #0D6EFD;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #0D6EFD;
  }
  
</style>
<div class="row bg-light" style="height:300px;padding-top:10%;box-sizing:border-box;">
  <div class="one">
    <h1>You are Successfully Registered</h1>
  </div>
</div>
    
{% endblock  %}