{% extends 'base.html' %}
{% load static %}
{% block title %}
List Of Trains | RailConnect
{% endblock %}
{% block content %}
<style>
    input {
        box-shadow: none !important;

    }

    .styled-link {
        position: relative;
        text-decoration: none;
        color: #333;
        font-size: 24px;
        padding: 0 20px;
    }

    .styled-link::before,
    .styled-link::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 50%;
        height: 2px;
        background-color: #333;
    }

    .styled-link::before {
        left: 0;
        transform: translateY(-50%);
    }

    .styled-link::after {
        right: 0;
        transform: translateY(-50%);
    }
</style>
<!--Main Starts-->
<div class="row mt-2 py-2" style="background-color: whitesmoke;">
    <div class="col-sm-3"></div>
    <div class="col-sm-7  p-4 bg-white" style="border-radius: 2%;">
        <form class="row g-3 " method="post" action="{% url 'trainbwst' %}">
            {% csrf_token %}
            <div class="col-auto">

                <input type="text" class="form-control" id="from" name="from" placeholder="From">
            </div>

            <div class="col-auto">

                <input type="text" class="form-control" name="to" id="to" placeholder="To">
            </div>
            <div class="col-auto">

                <input type="date" class="form-control" name="date" id="date" placeholder="Date"
                    pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn  mb-3"
                    style="box-shadow: none; color:white;background: #7300ff;">Search</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
</div>

<div class="row">

    <div class="card ms-5 m-3 col-sm-3" style="box-shadow: 0px 0px 2px 0px black inset;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                    <h5 class="card-title"><i class="fa-solid fa-sliders" style="color: #7300ff;"></i>&nbsp; Quick
                        Filters</h5>
                </div>
                <div class="col-sm-3 p-0 m-0 float-end"><a href="#" id="resetAllLink"
                        style="color: #7300ff; text-decoration:none;">Reset All</a></div>
            </div>
            <div class="row ">
                <div class="col-sm-10 form-check form-switch form-check-reverse">
                    <label class="form-check-label" for="available">Show Available Only</label>
                </div>
                <div class="col-sm-2 form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="available">

                </div>
            </div>
            <div class="row ">
                <div class="col-sm-10 form-check form-switch form-check-reverse">
                    <label class="form-check-label" for="ac">Show AC Only</label>
                </div>
                <div class="col-sm-2 form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="ac">

                </div>
            </div>
            <div class="row ">
                <div class="col-sm-10 form-check form-switch form-check-reverse">
                    <label class="form-check-label" for="from">Train From DEOS only</label>
                </div>
                <div class="col-sm-2 form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="from">

                </div>
            </div>
            <div class="row ">
                <div class="col-sm-10 form-check form-switch form-check-reverse">
                    <label class="form-check-label" for="to">Train Reaching to NDLS only</label>
                </div>
                <div class="col-sm-2 form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="to">

                </div>
            </div>
            <hr />
            <div class="row">
                <h5 class="card-title"><i class="fa-solid fa-grip" style="color:#7300ff;"></i>&nbsp; Quota</h5>
                <div class="col-sm-12 ms-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="general" value="general">
                        <label class="form-check-label" for="general">General</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="genral" value="tatkal">
                        <label class="form-check-label" for="genral">Tatkal</label>
                    </div><br>
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="checkbox" id="ladies" value="ladies">
                        <label class="form-check-label" for="ladies">Ladies</label>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h5 class="card-title">Arrival Time</h5>
                <table class="table custom-table">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="morning" class="custom-checkbox"></td>
                            <td><label for="morning">Morning</label></td>
                            <td><label for="morning">6:00 AM - 12:00 Noon</label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="afternoon" class="custom-checkbox"></td>
                            <td><label for="afternoon">Afternoon</label></td>
                            <td><label for="afternoon">12:00 Noon - 6:00 PM </label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="evening" class="custom-checkbox"></td>
                            <td><label for="evening">Evening</label></td>
                            <td><label for="evening">6:00 PM - 12:00 AM</label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="night" class="custom-checkbox"></td>
                            <td><label for="night">Night</label></td>
                            <td><label for="night">12:00 AM - 6:00 AM</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="">
                <table class="table custom-table">
                    <h5 class="card-title">Departure Time</h5>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="morning_dept" class="custom-checkbox"></td>
                            <td><label for="morning_dept">Morning</label></td>
                            <td><label for="morning_dept">6:00 AM - 12:00 Noon</label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="afternoon_dept" class="custom-checkbox"></td>
                            <td><label for="afternoon_dept">Afternoon</label></td>
                            <td><label for="afternoon_dept">12:00 Noon - 6:00 PM </label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="evening_dept" class="custom-checkbox"></td>
                            <td><label for="evening_dept">Evening</label></td>
                            <td><label for="evening_dept">6:00 PM - 12:00 AM</label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" id="night_dept" class="custom-checkbox"></td>
                            <td><label for="night_dept">Night</label></td>
                            <td><label for="night_dept">12:00 AM - 6:00 AM</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row ">
                <h5 class="card-title m">Class</h5>
                <div class="form-check form-check  ms-3">
                    <input class="form-check-input" type="checkbox" id="CC" value="CC">
                    <label class="form-check-label" for="CC">CC- AC Chair Car</label>
                </div>
                <div class="form-check form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="3A" value="3A">
                    <label class="form-check-label" for="3A">3A - AC 3 Tier</label>
                </div>
                <div class="form-check form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="2S" value="2S">
                    <label class="form-check-label" for="2S">2S - Second Seating</label>
                </div>
                <div class="form-check form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="2A" value="2A">
                    <label class="form-check-label" for="2A">2A - AC 2 Tier</label>
                </div>
                <div class="form-check form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="SL" value="SL">
                    <label class="form-check-label" for="SL">SL - Sleeper Class</label>
                </div>
                <div class="form-check form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="3E" value="3E">
                    <label class="form-check-label" for="3E">3E - Economy AC 3 Tier</label>
                </div>
                <div class="form-check form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="1A" value="1A">
                    <label class="form-check-label" for="1A">1A - AC 1 Tier</label>
                </div>
            </div>
        </div>
        <hr>
    </div>


    <div class="col-sm-8 py-3">
        {{ train_data.0.from_station_name }} and {{ train_data.0.to_station_name }} on {{ train_data.0.train_date }}
        {% if train_data %}
        {% for train in train_data %}
        <div class="col-sm-12 py-3">
            <div class="card col-sm-10 mb-3">
                <div class="card-body m-0 p-0">
                    <h5 class="card-title p-2 m-0" style="background-color: whitesmoke;">{{ train.train_name }} ({{train.train_number }}) <span class="text-end float-end fw-normal "
                            style="font-size: small;">Runs On: <span style="color:#7300ff;">
                                {% if train_data.0.run_days.0 %}
                                <b style="color:#7300ff;"> M</b>
                                {% else %}
                                M
                                {% endif %}
                                {% if train_data.0.run_days.1 %}
                                <b style="color:#7300ff;"> T</b>
                                {% else %}
                                T
                                {% endif %}
                                {% if train_data.0.run_days.2 %}
                                <b style="color:#7300ff;"> W</b>
                                {% else %}
                                W
                                {% endif %}
                                {% if train_data.0.run_days.3 %}
                                <b style="color:#7300ff;"> T</b>
                                {% else %}
                                T
                                {% endif %}
                                {% if train_data.0.run_days.4 %}
                                <b style="color:#7300ff;"> F</b>
                                {% else %}
                                F
                                {% endif %}
                                {% if train_data.0.run_days.5 %}
                                <b style="color:#7300ff;"> S</b>
                                {% else %}
                                S
                                {% endif %}
                                {% if train_data.0.run_days.6 %}
                                <b style="color:#7300ff;"> S</b>
                                {% else %}
                                S
                                {% endif %}
                            </span></span></h5>
                    <div class="row p-2">
                        <div class="col-sm-5"><b>{{train.from_std}} |</b> {{train.from_station_name}}
                            |{{train.train_date}}</div>
                        <div class="col-sm-2 ">
                            <p>{{train.duration}}</p>
                        </div>
                        <div class="col-sm-5">
                            <b>{{train.to_sta}} |</b> {{train.to_station_name}} | 16 May
                        </div>
                    </div>

                </div>

                <div class="card-group">
                    {% for i in train.class_type %}

                    <div class="card  m-1 " style="max-width:13rem !important; border: 1px solid black !important;">
                        <div class="card-body">
                            {% if i == '2S' %}<button type="submit" data-value="2S" class="btn ms-2 mb-2"
                                data-bs-toggle="modal" data-bs-target="#trainBooking">
                                Second Seating({{i}})
                            </button>{% endif %}

                            {% if i == 'SL' %}<button type="submit" value="SL" class="btn ms-2 mb-2"
                                data-bs-toggle="modal" data-bs-target="#trainBooking">
                                Sleeper ({{i}})
                                </utton>{% endif %}

                                {% if i == '2A' %}<button type="submit" value="2A" class="btn ms-2 mb-2"
                                    data-bs-toggle="modal" data-bs-target="#trainBooking">
                                    2 Tier AC ({{i}})
                                </button>{% endif %}

                                {% if i == '3A' %}<button type="submit" value="3A" class="btn ms-2 mb-2"
                                    data-bs-toggle="modal" data-bs-target="#trainBooking">
                                    3 Tier AC ({{i}})
                                </button>{% endif %}

                                {% if i == '3E' %}
                                <button type="submit" value="3E" class="btn ms-2 mb-2" data-bs-toggle="modal"
                                    data-bs-target="#trainBooking">
                                    3 AC Economy({{i}})
                                </button>{% endif %}

                                {% if i == 'CC' %}<button type="submit" value="CC" class="btn ms-2 mb-2"
                                    data-bs-toggle="modal" data-bs-target="#trainBooking">
                                    Chair Car ({{i}})
                                </button>{% endif %}

                                {% if i == 'EC' %}<button type="submit" value="SL" class="btn ms-2 mb-2"
                                    data-bs-toggle="modal" data-bs-target="#trainBooking">
                                    Economy Chair Car ({{i}})
                                </button>{% endif %}

                                {% if i == '1A' %}
                                <button type="submit" class="btn ms-2 mb-2" data-bs-toggle="modal"
                                    data-bs-target="#trainBooking">
                                    1 Tier AC ({{i}})
                                </button>{% endif %}
                        </div>
                    </div>

                    {% endfor %}
                </div>
                <h6 class="ms-2 mb-3">Please check NTES website or NTES app for actual time before boarding</h6>

                <button type="submit" class="btn ms-2 mb-2" data-bs-toggle="modal" data-bs-target="#trainBooking"
                    style="color:white;background:#7300ff; width:15%">Book</button>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No trains found for the given date and stations.</p>
        {% endif %}
    </div>
</div>
</div>
<!-- Train Booking Modal -->
<div class="modal fade" id="trainBooking" tabindex="-1" role="dialog" aria-labelledby="trainBookingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trainBookingModalLabel">Book Train Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Train Booking Form -->
                
                <form id="booking" action="{% url 'book_ticket' %}" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                        <label for="train_number">Train Number</label>
                        <input type="text" class="form-control" id="train_number" name="train_number" placeholder="Enter Train Number"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="class_type">Class</label>
                        <select class="form-control" id="class_type" name="class_type" required>
                            <option value="3A">3A</option>
                            <option value="2A">2A</option>
                            <option value="1A">1A</option>
                            <option value="CC">CC</option>
                            <option value="SL">SL</option>
                            <option value="2S">2S</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="station_from">From </label>
                        <input type="text" class="form-control" id="station_from" name="station_from" placeholder="From Station" required>

                      
                    </div>
                    <div class="form-group">
                      <label for="station_to">To:</label>
                      <input type="text" class="form-control" id="station_to" name="station_to" placeholder="To Station" required>

                    </div>

                    <!-- Passenger Details -->
                    <hr>
                    <h5>Passenger Details</h5>
                    <div id="passengerDetails">
                        <div class="passenger-info">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="name">Name</label>
                                    <input id="name"type="text" class="form-control" name="name"
                                        placeholder="Enter Name" required>
                                </div>
                                <div class="form-group col">
                                    <label for="date">Name</label>
                                    <input id="date"type="date" class="form-control" name="date"
                                        placeholder="Enter Date of Journey" required>
                                </div>
                                <div class="form-group col">
                                    <label for="age">Age</label>
                                    <input type="number" class="form-control" name="age"
                                        placeholder="Enter Age" id="age" required>
                                </div>
                                <div class="form-group col">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" name="gender" id="gender" required>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success">Book Ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<!--Main Ends-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Reset all checkboxes when clicking the "Reset All" link
        document.getElementById('resetAllLink').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent link from navigating

            // Reset checkboxes
            resetCheckboxes();
        });

        function resetCheckboxes() {
            // Reset all checkboxes by selecting all input elements of type checkbox
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');

            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false; // Uncheck each checkbox
            });
        }
    });
</script>

{% endblock %}